{{>#each posts as |post|}}
<section class="box">
    <div style="display: flex; justify-content:space-between; color: white; background-color:blue">
        <h3>{{post.title}}</h3>
        <p>by {{post.user.name}} on {{format_date post.date_created}}</p>
    </div>
</section>
{{/each}}