<div>
    <form>
      <div>
        <label for="login-user">Username:</label>
        <inputtype="text" id="login-user" />
      </div>
      <div>
        <label for="login-password">Password:</label>
        <input type="password" id="login-password" />
      </div>
      <div>
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
  <div>
    <h2>Signup</h2>

    <form>
      <div>
        <label for="signup-user">Username:</label>
        <input type="text" id="signup-user" />
      </div>
      <div>
        <label for="signup-email">Email:</label>
        <input type="text" id="signup-email" />
      </div>
      <div>
        <label for="signup-password">Password:</label>
        <input type="password" id="signup-password" />
      </div>
      <div>
        <button type="submit">Signup</button>
      </div>
    </form>
</div>